<template name="about">
  <div class="page about">
    {{> nav title='About' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Go Local"/>
        </h1>
      </div>
      <div class="description-about">
        <p>Long long ago, (in a parallel universe perhaps), developers wrote help screens. If we ever develop the habit, this is where you'll find it. In the meantime:</p>
        <ul>
          <li>Walk around</li>
          <li>Find monsters</li>
          <li>Hack and slash</li>
          <li>Rinse and repeat</li>
        </ul>
      </div>

    </div>
    <a href="https://github.com/Drainsdungeon/Drains-and-Dragons" class="btn-primary js-open" target="_blank">Learn More</a>
  </div>
</template>