<template name="appBody">
  <div class="wrapper-welcome">
    <div class="title-welcome">Drains and Dragons</div>
    <div class="description-welcome"><p>Drains and Dragons was made as a GovHack 2015 project. It's a cross platform mobile app built in <a href="https://www.meteor.com" target="_blank" class="js-open">Meteor</a>. View the source on <a href="https://github.com/Drainsdungeon/Drains-and-Dragons" target="_blank" class="js-open">GitHub</a>.</p>
    </div>

    <div class="description-welcome">
    <p>The app is designed to run on a physical device, where it uses the hardware's native camera and GPS support.</p>
    </div>

    <div class="description-welcome">
    <p>You can also run it in a simulator, or in a desktop browser as a convenience (what you're looking at right now).</p>
    </div>

    <div class="description-welcome">
    <p>This app includes a simple administrative backend that you can use to set welcome text on the app's home screen. Visit <a href="{{pathFor 'admin'}}">/admin</a> to log into the backend. The first authenticated user is allowed access.</p>
    </div>
    <div class="test">
      {{> pitTemplate}}
    </div>
  </div>

  <div id="container" class="{{menuOpen}} {{overlayOpen}}">
    <section id="menu" class="overthrow">
      <a href="{{pathFor 'home'}}" class="{{activePage 'home'}}">
        <span class="wrapper-menu-item">
          <span class="icon-home"></span>
          <span class="title-menu">Home</span>
        </span>
      </a>
      <a href="{{pathFor 'feed'}}" class="{{activePage 'feed'}}">
        <span class="wrapper-menu-item">
          <span class="icon-rss"></span>
          <span class="title-menu">Inventory</span>
        </span>
      </a>
      <a href="{{pathFor 'recipes'}}" class="{{activePage 'recipes'}}">
        <span class="wrapper-menu-item">
          <span class="icon-category"></span>
          <span class="title-menu">Quests</span>
        </span>
      </a>
      <a href="{{pathFor 'bookmarks'}}" class="{{activePage 'bookmarks'}}">
        <span class="wrapper-menu-item">
          <span class="icon-bookmark-hollow"></span>
          <span class="title-menu">Badges</span>
        </span>
      </a>
      <a href="{{pathFor 'about'}}" class="{{activePage 'about'}}">
        <span class="wrapper-menu-item">
          <span class="icon-question"></span>
          <span class="title-menu">About</span>
        </span>
      </a>
    </section>

      <div class="notifications">
        {{#unless connected}}
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="title-notification">Trying to connect</div>
          </div>
        {{/unless}}
        {{#each notifications}}
          <div class="notification">
            <a class="btn-primary js-notification-action">{{action}}</a>
            <div class="title-notification">{{title}}</div>
          </div>
        {{/each}}
      </div>



    <div class="content-overlay">{{> overlay}}</div>

    <div id="content-container">
      {{> yield}}
    </div>

  </div>
</template>
<template name = "pitTemplate">
  hello
  {{#each pitpoints}}
  {{geometry.coordinates}}
  {{/each}}
</template>
