<template name="bookmarks">
  <div class="page bookmarks">
    {{> nav title='Your Score'}}

    <div class="content-scrollable">
      <div class="bg-imagex about">
      </div>
      <div class="description-about">
        <p><br></p>
        <p>Work in progres.. will eventually look a bit like this:<br></p>
        <p><br></p>
        <div class="demo inventory" xstyle="background-image: url('img/score/score-screen.png'); height: 17em;"><img src="img/score/score-screen.png" alt="score screen banner" style="width: 100%"></div>
      
      </div>

    </div>
  </div>
</template>