<template name="home">
  <div class="page home">
    {{>nav title='Drains and Dragons' black=true}}

    <div class="content-scrollable">
      <div class="home">
        <h1 class="title-home">
          <img src="img/app/logo-local.svg" alt="Drains and Dungeons"/>
        </h1>
        <span class="hours">Elevating public awareness of civil infrastructure one drain at a time</span>
        <span class="arrow"></span>
      </div>



      <div class="list-activities">
        {{> mapdisplay}}
      </div>

    </div>

  </div>
</template>

<template name="mapdisplay" >
    <div id="container">
      <p style="text-align: center; color: white; background-color: black;">Glenorchy and Hobart like you've never seen it before</p>
      <div id="map" class="map">
      </div>
      <div class="notice">
        Double-click on map creates a marker<br>
        Click on a marker to delete it
      </div>
    </div>
</template>
