<template name="feed">
  <div class="page about">
    {{> nav title='Inventory' black=true}}

    <div class="content-scrollable">
      <div class="bg-imagex about">
      </div>
      <div class="description-about">
        <p><br></p>
        <p><br></p>
        <p><br></p>
        <div class="demo inventory" xstyle="background-image: url('img/inventory/screen.png'); height: 17em;"><img src="img/inventory/screen.png" alt="inventory banner" style="width: 100%"></div>
      
      </div>

    </div>
  </div>
</template>
