<template name="feed">
  <div class="page whats-cooking">

    {{>nav title="Inventory"}}

    <div class="content-scrollable">
      <div class="list-activities {{#unless ready}}loading{{/unless}}">
        {{#if ready}}
          {{#each activities}}
            <!--{{> activity}}-->
            <div class="wrapper-message">
              <div class="title-message">Sorry, you cannot collect equipment yet!</div>
              <div class="subtitle-message">Once the lazy programmers get their acts together you'll be able to pick up useful weapons and armour from each monster you vanquish.</div>
            </div>
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">Sorry, you cannot collect equipment yet!</div>
              <div class="subtitle-message">Once the lazy programmers get their acts together you'll be able to pick up useful weapons and armour from each monster you vanquish.</div>
            </div>
          {{/each}}
        {{else}}
          <div class="wrapper-message">
            <div class="icon-sync"></div>
            <div class="title-message">Loading</div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>